$$INCLUDE head2.html$$

<TABLE bgColor="#0a3c7d" border=0 cellPadding=0 cellSpacing=0 class=topmenu width=1014>
  <TBODY>
  <TR>
    <TD align=center width=81><A class=linkmenu 
      href="http://www.iceshop.nl/iceshop/index.cgi?tmpl=iceshop.html">ABOUT US</A></TD>
    <TD width=7><IMG height=27 src="img/vert_div.gif" width=7 alt="|"></TD>
    <TD align=center width=102><A class=linkmenu 
      href="http://www.iceshop.nl/iceshop/index.cgi?tmpl=producten.html">PRODUCTS</A></TD>
    <TD width=7><IMG height=27 src="img/vert_div.gif" width=7 alt="|"></TD>
    <TD align=center width=100><A class=linkmenu 
      href="http://www.iceshop.nl/iceshop/index.cgi?tmpl=segmenten.html">MARKETS</A></TD>
    <TD width=7><IMG height=27 src="img/vert_div.gif" width=7 alt="|"></TD>
    <TD align=center width=110><A class=linkmenu 
      href="http://www.iceshop.nl/iceshop/index.cgi?tmpl=referenties.html">REFERENCES</A></TD>
    <TD width=7><IMG height=27 src="img/vert_div.gif" width=7 alt="|"></TD>
    <TD align=center width=95><A class=linkmenu 
      href="http://www.iceshop.nl/iceshop/index.cgi?tmpl=indepers.html">IN THE MEDIA</A></TD>
    <TD width=7><IMG height=27 src="img/vert_div.gif" width=7 alt="|"></TD>
    <TD align=center width=85><A class=linkmenu 
      href="http://www.iceshop.nl/iceshop/index.cgi?tmpl=contact.html">CONTACT</A></TD>
    <TD width=7><IMG height=27 src="img/vert_div.gif" width=7 alt="|"></TD>
    <TD align=center width=73><A class=linkmenu 
      href="http://www.mytrade.nl/forum/ice/index.cgi?tmpl=thread_messages.html;thread_id=5">FORUM</A></TD>
    <TD width=7><IMG height=27 src="img/vert_div.gif" width=7 alt="|"></TD>
    <TD align=center width=55><A class=linkmenu 
      href="http://www.mytrade.nl/forum/ice/index.cgi?tmpl=faq_thread_messages.html;thread_id=5">FAQ</A></TD></TR></TBODY></TABLE>

<TABLE border=0 cellPadding=0 cellSpacing=0 width=1014>
  <TBODY>
  <TR>
    <TD colSpan=3><IMG height=17 src="img/bg_dot2.gif" width=1014 alt="..."></TD></TR>
  <TR>
    <TD vAlign=top width=245>
      <TABLE border=0 cellPadding=0 cellSpacing=0 width=252>
        <TBODY>
        <TR>
          <TD colSpan=2 width=246></TD>
          <TD rowSpan=2 width="2"></TD></TR>
        <TR>
          <TD width=1><IMG height=13 src="img/empty.gif" width=1 alt="&nbsp;"> </TD>
        </TR>
        <TR>
    <TD style="background-color: url(img/main_div.gif);" width=28><IMG height=1 src="img/main_div.gif" width=28 alt="-"></TD>
    <TD vAlign=top width=477>
      <TABLE border=0 cellPadding=0 cellSpacing=0 width="100%">
        <TBODY>
        <TR>
          <TD>
 </TD></TR></TBODY></TABLE></TD></TR>
  <TR>
    <TD colSpan=3><BR><IMG height=2 src="img/big_line.gif" width=1014 alt="-"><BR><IMG height=12 src="img/empty.gif" width=1 alt="&nbsp;"><BR>
			<div align=center><font color="#0000FF" size="2" face="Verdana">Thank you for approving the product</font></div><br><br>
			<div align=center><font color="black" size="1" face="Verdana"><a href='' onClick='javascript:window.close()'>Click here to close window</a></font></div><br><br>

$$INCLUDE footer2.html$$
