$$INCLUDE head2.html$$

{name: menu2;}

<div id="page_content">

<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<tr>
		<td align="left">
			$$INCLUDE products_link.html$$
			<img src="/img/campaign_def/arrow.gif" width="9" alt=""/>&nbsp;<a class="linkmenu3" href="%%base_url%%;tmpl=brand_invalid_partnumbers.html">Invalid partnumbers</a>
		</td>
	</tr>
</table>

<br />

{
name: errors;
}

{
name: brand_invalid_partnumbers_search;
}

{
name: brand_invalid_partnumbers;
}

$$INCLUDE footer2.html$$
