$$INCLUDE head2.html$$

{name: menu2;}

<div id="page_content">

<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="main" height="20">
			$$INCLUDE cats_menu_link.html$$
{
name: trace_categories_det;
}
			<img src="/img/campaign_def/arrow.gif" width="9" alt=""/>&nbsp;<a class="linkmenu3" href="%%base_url%%;catid=%%catid%%;tmpl=cat_feature_groups.html">Feature groups</a>
			<img src="/img/campaign_def/arrow.gif" width="9" alt=""/>&nbsp;<a class="linkmenu3" href="%%base_url%%;catid=%%catid%%;category_feature_group_id=%%category_feature_group_id%%;tmpl=cat_feature_group.html">Edit group</a>
		</td>
	</tr>
</table>

<br />

{
name: errors;
}

{
name: category_feature_group;
}

$$INCLUDE footer2.html$$
