$$INCLUDE head2.html$$

{name: menu2;}

<div id="page_content">

<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="main" height="20">
			$$INCLUDE countries_menu_link.html$$
		</td>
	</tr>
</table>

<br />

<table width="100%">
   <tr>
      <td align="left"><a href="%%base_url%%;tmpl=blacklist.html">Blacklist words</a><!--<a href="%%base_url%%;tmpl=languages.html">Languages</a>--></td>
      <td align="left"><a href="%%base_url%%;tmpl=backup_language_config.html">Backup language configurator</a>
      <td align="left"><a href="%%base_url%%;tmpl=dictionaries.html">Dictionary</a></td>
      <td align="right"><a class="new-win" href="%%base_url%%;tmpl=country_edit.html">New country</a></td>
   </tr>
</table>

{
name: errors;
}

{
name: countries;
}

$$INCLUDE footer2.html$$
