$$INCLUDE head2.html$$

{name: menu2;}
$$INCLUDE ajax_response.html$$
<script type="text/javascript" src="/js/google_transl.js"></script>
<script type="text/javascript" src="/js/common.js"></script>

<div id="page_content_wide" style="">

<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="main" height="20">
			$$INCLUDE features_menu_link.html$$
{name: feature_menu;}
		</td>
	</tr>
</table>

<br />

{
name: errors;
}

{
name: feature;
}

{
name: category_features;
class: hidden;
}

{
name: features;
class: hidden;
}

$$INCLUDE footer2.html$$

