$$INCLUDE head2.html$$

{name: menu2;}

<div id="page_content">

<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="main" height="20">
			$$INCLUDE feature_groups_menu_link.html$$
		</td>
	</tr>
</table>

<br />
<span><a class="linkmenu3" href="%%base_url%%;mi=groups;tmpl=feature_groups_exp_imp.html">Import \ Export languages</a></span>
>
<table width=100%><tr>
        <td align="center">
                <b>Import \ export languages</b>
        </td>
</tr><table>

XLS file was send successed!
<br />
{
name: errors;
}

$$INCLUDE footer2.html$$
