$$INCLUDE head2.html$$

{name: menu2;}

<div id="page_content">

<table cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td class="main" height="20">
			<img src="/img/campaign_def/arrow.gif" width="9" alt=""/>&nbsp;<a class="linkmenu3" href="%%base_url%%;mi=groups;tmpl=feature_groups.html">Feature groups</a>
			<img src="/img/campaign_def/arrow.gif" width="9" alt=""/>&nbsp;<a class="linkmenu3" href="%%base_url%%;mi=groups;tmpl=feature_values_groups.html">Feature values groups</a>
    </td>
  </tr>
</table>

<br />

<table width="100%"><tr><td align="left"><a href="%%base_url%%;tmpl=feature_values_vocabulary.html">Feature values vocabulary</a></td><td align=right><a class="new-win" href="%%base_url%%;tmpl=feature_values_group.html">New feature values group</a></td></tr><table>

{
name: errors;
}

{
name: feature_values_groups;
}

$$INCLUDE footer2.html$$
