$$INCLUDE head2.html$$

{name: menu2;}

<div id="page_content">

<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="main" height="20">
			$$INCLUDE features_menu_link.html$$
{name: feature_menu;}
			<img src="/img/campaign_def/arrow.gif" width="9" alt=""/>&nbsp;<a class="linkmenu3" href="%%base_url%%;mi=features;tmpl=feature_value_mappings.html;feature_id=%%feature_id%%">Values mapping</a>
		</td>
	</tr>
</table>

<br />

{
name: errors;
}

{
name: feature_value_mappings;
}

$$INCLUDE footer2.html$$

