<table width="750" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr> 
      <td bgcolor="#F5F5F5"><a href="%%icecat_bo_hostname%%index.cgi"><img src="img/trans_logo.png" border="0" alt="-"></a><br>
        <img src="img/language_choi.gif" width="72" height="33" alt="language"><img src="img/language_engl_on.gif" width="75" height="33" border="0" alt="en"><img src="img/language_dutch.gif" width="95" height="33" alt="nl"></td>
      <td><img src="img/vert_line.gif" width="6" height="128" alt="|"></td>
      <td><img src="img/butns_man.jpg" width="502" height="128" alt="a man"></td>
    </tr>
    <tr> 
      <td colspan="3" style="background-image: url('img/bg_div.gif');"></td>
    </tr>
</table>
