$$INCLUDE head2.html$$

{name: menu2;}

<div id="page_content">

<table cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td class="main" height="20">
			$$INCLUDE features_menu_link.html$$
			<img src="/img/campaign_def/arrow.gif" width="9" alt=""/>&nbsp;<a class="linkmenu3" href="%%base_url%%;tmpl=power_mappings.html">Power mappings</a>
			<img src="/img/campaign_def/arrow.gif" width="9" alt=""/>&nbsp;<a class="linkmenu3">View</a>
    </td>
  </tr>
</table>

<br />

{
name: errors;
}

{
name: power_mapping;
}

$$INCLUDE footer2.html$$

