$$INCLUDE head2.html$$
<script type="text/javascript" src="/js/track_list.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
$$INCLUDE ajax_response.html$$
$$INCLUDE ajax_overlay.html$$
{name: menu2;}

<div id="page_content">

<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="main" height="20">
			<img src="/img/campaign_def/arrow.gif" width="9" alt=""/>
			<a class="linkmenu3" href="%%base_url%%;tmpl=products_raiting.html;mi=products_raiting">Products rating</a>
			<img src="/img/campaign_def/arrow.gif" width="9" alt=""/>
			<a class="linkmenu3" href="%%base_url%%;tmpl=product_rating_conf.html;mi=products_raiting">Rating formula</a>
		</td>
	</tr>
</table>

<br />


{
name: errors;
}

{
name: product_rating_conf;
}

$$INCLUDE footer2.html$$
