$$INCLUDE head2.html$$

{name: menu2;}

<div id="page_content">

<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="main" height="20">
			$$INCLUDE series_link.html$$
			{
				name: trace_families;
			}
			<img src="/img/campaign_def/arrow.gif" width="9" alt=""/>&nbsp;<a class="linkmenu3" href="%%base_url%%;tmpl=series.html;supplier_id=%%supplier_id%%;family_id=%%family_id%%;catid=%%catid%%">Edit series</a>
		</td>
	</tr>
</table>

<br />

<table width="100%"><tr><td align="right"><a class="new-win" href="%%base_url%%;tmpl=series_edit.html;supplier_id=%%supplier_id%%;family_id=%%family_id%%;catid=%%catid%%">New series</a></table>

{
name: errors;
}

{
name: series;
}

$$INCLUDE footer2.html$$
