$$INCLUDE head2.html$$

{name: menu2;}

<div id="page_content">

<table cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td class="main" height="20">
			$$INCLUDE suppliers_menu_link.html$$
			<img src="/img/campaign_def/arrow.gif" width="9" alt=""/>&nbsp;<span><a class="linkmenu3" href="%%base_url%%;supplier_id=%%supplier_id%%;tmpl=supplier_edit.html">Edit brand</a></span>
			<img src="/img/campaign_def/arrow.gif" width="9" alt=""/>&nbsp;<span><a class="linkmenu3" href="%%base_url%%;supplier_id=%%supplier_id%%;tmpl=supplier_sales_report_edit.html;sales_report_id=%%sales_report_id%%">Edit sales-out report</a></span>
    </td>
  </tr>
</table>

<br />

{
name: errors;
}

{
name: supplier;
class: brief;
}

{
name: supplier_sales_report_edit;
}

$$INCLUDE footer2.html$$
